extends layout

block content
  h1= title
  - let image_names = ["adidas.jpg","converse.jpg","reebok.jpg","gucci.jpg","nike.jpg"]
  - for(let i=0;i<3;i++){
      - let ran  = Math.floor(Math.random()*5);
      img(src=`/images/${image_names[ran]}` alt=`${image_names}` style+'height:300px; width:300px')
  - }